@import '../variables.module';

.cartWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h1 {
    font-size: 3rem;
    font-weight: 100;
  }

  @media screen and (min-width: $lg) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.tableHeader {
  display: flex;

  .product {
    flex: 1;
  }

  .quantity {
    width: 5rem;
    background-color: red;
  }

  .total {
    width: 5rem;
    margin-right: 1.5rem;
    background-color: red;
  }
}
