.cartItemWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid black;
  padding: 1rem 0;

  .product {
    flex: 1;
  }

  .quantity {
    display: flex;
    width: 5rem;
    height: 2rem;
  }

  .total {
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;

    &:after {
      content: ' EUR';
    }
  }

  h2 {
    font-size: 1.25rem;
    text-align: left;
    padding: 0;
  }
}
