@import '../variables.module';

.cartWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h1 {
    font-size: 3rem;
    font-weight: 100;
  }

  @media screen and (min-width: $lg) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.tableHeader {
  display: flex;
  font-weight: 100;
  font-size: 0.75rem;
  gap: 1rem;

  .product {
    flex: 1;

    @media screen and (min-width: $sm) {
      margin-left: 7.25rem;
    }
  }

  .quantity {
    width: 5rem;
    text-align: center;
  }

  .total {
    width: 5rem;
    margin-right: 1.5rem;
    text-align: right;
    margin-right: 3rem;
  }
}
