@import './variables.module';

* {
  font-family: 'heebo', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 400px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300;

  @media screen and (max-width: $sm) {
    font-size: 1.75rem;
  }

  @media screen and (min-width: $sm) {
    font-size: 3rem;
  }

  @media screen and (min-width: $lg) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 300;
  padding-bottom: 1rem;

  @media screen and (min-width: $lg) {
    font-size: 3rem;
  }
}

.topMessage {
  background-color: #121921;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 0.75rem 0;
  font-weight: 100;
}

.breadCrumbDivider {
  padding: 0 0.25rem;
}

footer {
  text-align: center;
  color: white;
  font-weight: 100;
  padding: 4rem;
  background-image: url(../public/audiowaves_animated2.svg),
    linear-gradient(
      to right bottom,
      #121921,
      #121921,
      #121921,
      #121921,
      #121921,
      #141c24,
      #161e28,
      #18212b,
      #1d2732,
      #222d3a,
      #273441,
      #2c3a49
    );
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}
