.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;

  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
}

.logo {
  height: 4rem;
  width: auto;
}
