@import './variables.module.scss';

.heroSection {
  background-color: #121921;
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  width: 100%;

  .heroMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;

    .heroMessage {
      padding: 1rem;
      color: white;
      z-index: 10;
    }
  }

  .heroButton {
    background-color: white;
    padding: 1rem;
    display: inline-block;
  }

  @media screen and (min-width: $sm) {
    padding-left: 3rem;
    h1 {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: $sm) {
    h1 {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: $lg) {
    h1 {
      font-size: 5rem;
    }
  }

  .heroImage {
    max-width: 50%;
    height: auto;
    margin-top: 1rem;
    object-fit: scale-down;
  }
}
