@import './variables.module';

.heroSection {
  background-color: #121921;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;

  .heroMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    position: relative;

    .heroMessage {
      padding: 1rem;
      color: white;

      @media screen and (max-width: 400px) {
        position: absolute;
        z-index: 10;
        padding-left: 1rem;
        padding-top: 0;
      }

      @media screen and (min-width: $sm) {
        padding-left: 3rem;
      }

      @media screen and (min-width: $lg) {
        padding-left: 4rem;
      }

      h1 {
        font-size: 1.5rem;

        @media screen and (max-width: $sm) {
          font-size: 1.75rem;
        }

        @media screen and (min-width: $sm) {
          font-size: 3rem;
        }

        @media screen and (min-width: $lg) {
          font-size: 5rem;
        }
      }
    }
  }

  .heroButton {
    background-color: white;
    padding: 1rem;
    display: inline-block;

    @media screen and (max-width: 360px) {
      padding: 0.5rem;
    }
  }

  .heroImage {
    max-width: 50%;
    height: auto;
    margin-top: 1rem;
    object-fit: scale-down;

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }
}
