@import '../variables.module';

.checkout {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.formWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 400px;
  padding-bottom: 2rem;
  justify-content: center;

  @media screen and (min-width: $sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (min-width: $md) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media screen and (min-width: $lg) {
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: $xl) {
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
  }

  h2 {
    font-size: 1.5rem;
    text-align: left;
  }
}

.form {
  flex: 1;
  background-color: white;
  padding: 1rem;

  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.summary {
  flex: 1;
}
