@import '../variables.module';

.productList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
  padding-top: 2rem;

  @media screen and (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
