@import '../../variables.module';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: $lg) {
    padding-left: 10%;
    padding-right: 10%;
  }

  h1 {
    @media screen and (min-width: $lg) {
      padding-left: 15%;
      padding-right: 15%;
      text-align: left;
    }
  }
}

.productDetail {
  @media screen and (min-width: $md) {
    display: flex;
    align-items: center;
    gap: 2rem;

    p {
      flex: 1;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: $md) {
    text-align: left;
    margin-right: 4rem;
  }

  h2 {
    @media screen and (min-width: $md) {
      font-size: 2rem;
      text-align: left;
    }
  }

  p {
    padding: 0 1rem;
    line-height: 1.5rem;

    @media screen and (min-width: $md) {
      padding-left: 0;
    }
  }
}

.price {
  font-size: 2rem;
  font-weight: 500;
}
